
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

/* Ensure body background changes with dark mode */
body {
  @apply bg-black text-white;
}

.ellipsis::after {
  content: '…';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
